[directories]
#
pima_work = "~/pima"

# Directory for PIMA index files
pima_exper = "~/data/pima_scr"

# Directory for downloaded FITS-IDI files
data = "~/data/pima_data"

# Directory for FITS-IDI files cache
staging = "~/pima_staging_dir"

# Directory for autospectra plots
autospec = "~/pima_autospec"

# Directory for splitted UV-FITS files
split = "~/pima_split"

# Local copy of the correlator archive
archive = "/data/backups/RA_archive"

# Local copy of the Webinet archive
webinet = "/data/backups/webinet.asc.rssi.ru"

[database]
host = "localhost"
user = "guest"
